
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Label("Login Page")</br>
@Html.Label("User Name:")
@Html.TextBox("UserName",null, new { placeholder="User Name"})</br>
@Html.Label("Password:")&nbsp;
@Html.TextBox("Password", null, new { placeholder = "Password" })
